<div layout="row" id="schedule">
  <div layout="column" class="hi">
  <div class="h">
    <img src="http://i-cdn.phonearena.com/images/articles/145581-image/January.jpg" class="pic" alt="">
    <span class="date big-date">{{schedule.date}}</span>

    <div class="scrub2">
      <md-button class="md-fab md-primary md-raised scrub" ng-click="schedule.back()">
        <md-icon>arrow_back</md-icon>
      </md-button>

      <md-button class="md-fab md-primary md-raised scrub" ng-click="schedule.forward()">
        <md-icon>arrow_forward</md-icon>
      </md-button>
    </div>
  </div>
  <md-content class=" md-whiteframe m" flex="100">

    <span class="month"></span>
    <h2>Monday <span class="date">{{schedule.date}}</span></h2>

    <div class="er">
    <md-button class=" bs md-raised" ng-click="schedule.showCreate($event)">
      <md-icon>add</md-icon> Create Chore
    </md-button>

    <md-button class="  bs" ng-click="schedule.showCreate($event)">
      <md-icon>add</md-icon> Create Reward
    </md-button>
    </div>

  </md-content>
</div>
  <md-content class="md-whiteframe-1dp md-whiteframe" flex="80" layout="row">
    <div ng-repeat="child in schedule.children" class="day" ng-attr-id="{{'day-' + $index}}">
      <div class="title" ng-style="{'background-color':child.color}">
        {{child.name}}
      </div>
      <md-menu>
        <md-button class="add adds" ng-click="$mdOpenMenu($event)">
          <md-icon>add_square</md-icon> Add
        </md-button>
        <md-menu-content>
          <div ng-repeat="chore in schedule.chores">
            <md-menu-item>
              <md-button ng-click="schedule.add(chore.id, $parent.$index)">{{chore.name}}</md-button>
            </md-menu-item>
          </div>
        </md-menu-content>
      </md-menu>
      <div ng-repeat="assigned in child.assigned">
        <div class="choreDrag">{{schedule.getChoreName(assigned.choreId)}}</div>
      </div>
    </div>
  </md-content>
</div>
