<div id="app" class="anim-fade">
  <div id="time">
    <span>6:00pm</span>
  </div>
  <div id="choreArea">
    <div class="column">
      <a ui-sref="storeState">
        <header data-size="big" class="pink">
          <img src="/images/profileIcons/blue.svg" alt="" />
          <div class="meta">
            Ben
          </div>
        </header>
      </a>
      <div class="chores">
        <sc-chore id="10" angular-ripple></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
      </div>
    </div>

    <div class="column alt">
      <header data-size="big" class="green">
        <img src="/images/profileIcons/goofy.svg" alt="" />
        <div class="meta">
          Ben
        </div>
      </header>
      <div class="chores">
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
      </div>
    </div>

    <div class="column">
      <header data-size="big" class="purple">
        <img src="/images/profileIcons/blue.svg" alt="" />
        <div class="meta">
          Ben
        </div>
      </header>
      <div class="chores">
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
      </div>
    </div>

    <div class="column alt">
      <header data-size="big" class="orange">
        <img src="/images/profileIcons/tooth.svg" alt="" />
        <div class="meta">
          Ben
        </div>
      </header>
      <div class="chores">
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
      </div>
    </div>
  </div>
</div>
