<div id="app">
  <div id="time">
    <span>6:00pm</span>
  </div>
  <div id="choreArea">
    <div class="column">
      <header class="pink">
        <img src="//placehold.it/64x64" alt="" />
        <div class="meta">
          Ben
        </div>
      </header>
      <div class="chores">
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
      </div>
    </div>

    <div class="column">
      <header class="green">
        <img src="//placehold.it/64x64" alt="" />
        <div class="meta">
          Ben
        </div>
      </header>
      <div class="chores">
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
      </div>
    </div>

    <div class="column">
      <header class="purple">
        <img src="//placehold.it/64x64" alt="" />
        <div class="meta">
          Ben
        </div>
      </header>
      <div class="chores">
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
      </div>
    </div>

    <div class="column">
      <header class="orange">
        <img src="//placehold.it/64x64" alt="" />
        <div class="meta">
          Ben
        </div>
      </header>
      <div class="chores">
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
        <sc-chore id="10"></sc-chore>
      </div>
    </div>
  </div>
</div>
