<div id="choreDetail">
  <div class="wrapper" class="anim-slide-below-fade">
    <div class="choreName">
      <span>Take out trash</span>
      <div class="points">
        +30
      </div>
    </div>
    <div class="details">
      Take the garbage out to the trash can.
    </div>
    <div class="buttons">
      <a ui-sref="appState">
        <div class="nope button">
          <md-icon>arrow_back</md-icon>
        </div>
      </a>
      <div class="ok button">
        <md-icon>check</md-icon>
      </div>
    </div>
  </div>
</div>
