<md-card id="loginCard" ng-class="{on:onOff}">
  <div class="card-header">
    Please Login
  </div>
  <md-card-content>
    <sp-google></sp-google>
    <div id="other-login-options">
      <a href="#">
        <md-button>Or login with your email</md-button>
      </a>
    </div>
  </md-card-content>
</md-card>
