<div id="rewardDetail" class="anim-slide-below-fade">
  <div class="wrapper">
    <div class="rewardName">
      <span>Obtain toys</span>
      <div class="icon"></div>
      <div class="points">30</div>
    </div>
    <div class="details">
      Do you want to buy a toy for 30 points?
    </div>
    <div class="buttons">
      <a ui-sref="appState">
        <div class="nope button">
          <md-icon>arrow_back</md-icon>
        </div>
      </a>
      <div class="ok button">
        <md-icon>check</md-icon>
      </div>
    </div>
  </div>
</div>
