<div id="storePage" class="anim-slide-below-fade">
  <div class="user">
    <span class="profile">
      <a ui-sref="appState">
        <md-icon>arrow_back</md-icon>
      </a>
      <img src="/images/choreIcons/blue.svg" alt="" />
      Little Bobby Tables
    </span>
    <span class="points">
      <img src="/images/choreIcons/Points.svg" alt="" />
      500
    </span>
  </div>
  <div id="storeContent">
    <sc-reward></sc-reward>
    <sc-reward></sc-reward>
    <sc-reward></sc-reward>
    <sc-reward></sc-reward>

    <sc-reward></sc-reward>
    <sc-reward></sc-reward>
    <sc-reward></sc-reward>
    <sc-reward></sc-reward>
  </div>
</div>
