<span ng-repeat="child in data.children">
  <div class="column" ng-class-odd="'alt'">
    <a ui-sref="storeState({id: child.id})">
      <header data-size="big" ng-style="{'background-color':child.color}">
        <img ng-src="{{child.picture}}" alt="" />
        <div class="meta">
          {{child.name}}<br>
          <span>{{child.points}} points</span>
        </div>
      </header>
    </a>
    <div class="chores">
      <span ng-repeat="assigned in child.assigned">
        <!-- {{data.chores[assigned.choreId].icon}} -->
        <!-- <span ng-repeat="chore in data.chores"> -->
          <sc-chore
            icon="{{list.getIcon(assigned.choreId)}}"
            cid="{{list.getCid(assigned.choreId)}}"
            cname="{{list.getName(assigned.choreId)}}"
            points="{{list.getPoints(assigned.choreId)}}"
            uid="{{child.id}}"></sc-chore>
        <!-- </span> -->
      </span>
    </div>
  </div>
</span>
