@import "color";
@import "auth";
@import "chore";
@import "choreDetail";
@import "store";
@import "reward";
@import "rewardDetail";

.BoxShadowHelper(@level: 1) {
  & when (@level = 1) {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  & when (@level = 2) {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  & when (@level = 3) {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  & when (@level = 4) {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  & when (@level = 5) {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}

body {
  background-color: #FAFAFA;
  overflow: hidden;
}

md-content {
  background-color: #FAFAFA;
}

.md-whiteframe {
  background-color: #fff;
  padding: 2em;
}

md-toolbar {
  .md-toolbar-tools,
  .material-icons,
  .ng-scope {
    color: #fff !important;
  }
}

.avatar {
  vertical-align: middle;
  border-radius: 50px;
  width: 45px;
  height: 45px;
}

// Child-side view

#app {
  background-color: #4fc3f7;
  color: #fff;
  font-family: 'proxima-nova-soft';
  font-weight: 500;
  height: 100vh;
  overflow: hidden;

  a {
    color: inherit;
  }

  #time {
    background-color: #263238;
    border-bottom: darken(#263238, 2%);
    margin-bottom: -2px;
    padding: 5px 0;
    text-align: right;
    position: fixed;
    width: 100%;
    z-index: 999;

    span {
      margin-right: 5px;
    }
  }

  .alt {
    background-color: darken(#4fc3f7, 3%);
    border-right: 1px solid darken(#4fc3f7, 7%);
  }

  .column {
    width: 25%;
    display: inline-block;
    margin-right: -4px;
    height: 96vh;
    margin-top: 4vh;
    overflow-y: scroll;
    overflow-x: hidden;

    .chores {
      -webkit-overflow-scrolling: touch;
      overflow-y: scroll;
      height: 96vh;
      margin-top: 100px;
    }

    header {
      background-color: #F06292;
      margin-bottom: 10px;
      padding: 10px;
      padding-left: 25px;
      font-size: 1.4em;
      position: fixed;
      width: 22.3vw;
      display: block;
      z-index: 999;
      transition: all 0.1s ease-in-out;
      box-shadow: 0 4px 8px -4px rgba(0,0,0,0.48);

      &.shrink {
        img {
          height: 32px;
        }
      }
    }

    header > img {
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 10px;
      height: 64px;
      background-color: #fff;
      transition: all 0.1s ease-in-out;

      .BoxShadowHelper(@level: 1);
    }

    header > .meta {
      display: inline-block;
    }

    // sc-chore:first-of-type .chore {
    //   margin-top: 115px;
    // }
  }
}
