.chore {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #CDDC39;
  color: #fff;
  text-align: center;
  font-family: 'proxima-nova-soft';
  font-weight: 500;
  position: relative;

  img {
    width: 50%;
    margin-top: 50px;
  }

  .caption {
    margin-top: 10px;
    font-size: 1.4em;
  }

  .points {
    background-color: #E91E63;
    width: 60px;
    height: 60px;
    font-size: 1.4em;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    position: absolute;
    right: 15px;
    bottom: 0;
  }
}
