.BoxShadowHelper(@level: 1) {
  & when (@level = 1) {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  & when (@level = 2) {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  & when (@level = 3) {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  & when (@level = 4) {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  & when (@level = 5) {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}

#storePage {
  background-color: #4fc3f7;
  color: #fff;
  height: 100vh;
  font-family: 'proxima-nova-soft';
  font-weight: 500;

  .user {
    background-color: #F06292;
    font-size: 1.5em;
    padding: 20px 50px !important;
    .BoxShadowHelper(@level: 2);

    a {
      text-decoration: none;
      color: inherit;
      margin-right: 35px;

      md-icon {
        color: #fff;
        width: auto;
        height: auto;
        font-size: 2em;
      }
    }

    .points {
      float: right;
      width: 200px;
      text-align: right;
      font-weight: 700;

      img {
        display: inline;
        width: 48px;
        margin-bottom: -15px;
        margin-right: 5px;
        .BoxShadowHelper(@level: 1);
        border-radius: 50%;
      }
    }

    .profile img {
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 25px;
      height: 200px;
      width: 200px;
      background-color: #fff;

      .BoxShadowHelper(@level: 1);
    }
  }

  #storeContent {
    padding: 20px 50px;
    padding-top: 100px;
    text-align: center;
    margin: 0 auto;
  }
}
